.user{
    background-color: #e6ffff;
    text-align: left;
    height: 50px;
    border-radius: 0 0 15px 15px;
}
.fullname{
    font-size: 15px;
    font-weight: bold;
    padding: 10px;

}
.username{
    color: grey;
    text-align: left;
    font-size: 15px;

}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    padding: 5px;
}

.date{
    float: right;
    color: darkgray;
    font-size: 15px;
}